.login_page {
  background-color: #212529;
  width: 100vw;
  height: 100vh;
}
.visibility_button {
  background: none;
  border: none;
  outline: none;
}
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.input_fields {
  font-size: 2rem;
  width: 300px;
  border: none;
  border-bottom: 2px solid #f8f9fa;
  background-color: transparent;
  outline: none;
  color: white;
  margin: 20px 0;
  padding: 10px 5px 5px 5px;
}
.input_fields:active {
  outline: none;
}
.checkbox
{
  display: flex;
}