.login_page {
  width: 100vw;
  min-height: 100vh;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visibility_button {
  background: none;
  border: none;
  outline: none;
}
.login_container {
  width: min(400px, 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #dee2e6;
  border-radius: 20px;
}
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
}
.input_fields {
  font-size: 2rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
  color: black;
  margin: 2.5rem 0;
  padding: 1.5rem;
}
.input_fields:active {
  outline: none;
}
.checkbox {
  display: flex;
}
.multiinput_line {
  display: flex;
}
.register_link {
  font-size: 2rem;
  color: black;
}
.logo_image {
  width: clamp(200px, 30vw, 300px);
}
