.signup_page {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visibility_button {
  background: none;
  border: none;
  outline: none;
}
.signup_container {
  width: min(500px, 90%);
  background-color: #dee2e6;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.signup_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  height: 100%;
}
.signup_page .input_fields {
  font-size: 2rem;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
  color: black;
  margin: 1.2rem 0;
  padding: 1rem;
}
.input_fields:active {
  outline: none;
}
.checkbox {
  display: flex;
}
.multiinput_line {
  display: flex;
  width: 100%;
}
.multiinput_line option {
  color: black;
}
.multiinput_line > .input_fields:first-child {
  margin-right: 20px;
}
.password_field {
  width: 100%;
}
.login_link {
  color: black;
  font-size: 2rem;
}

.logo_image {
  width: clamp(200px, 30vw, 300px);
}
